@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

 
 .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo{
    font-weight: bold;
    font-size: 25px;
    font-family: Lobster;
 }

 .alogo{
    color: blueviolet;
 }

 .ghlogo{
    color:gold;
 }

 .plogo{
    color: blueviolet;
 }

 .links{
    display: flex;
    align-items: center;
    gap: 20px; 
 }

 .logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
 }